/** Top **/

.top {
    padding: 100px 0px 100px;
}
.top-header {
    color: #db890f;
    font-size: 64px;
}

.btn-search:hover {
    background-color: #004696;
}

/** Oferty pracy **/
.job {
    padding-top: 7rem;
}

.job .nav .nav-item .active {
    background-color: #004696;
}

.hear-icon {
    font-size: 15px;
    color: #777777;
}

.job-search-button {
    background-color: #004696;
}

.job-search-button:hover {
    background-color: #003878;
}

.text-icon {
    font-weight: bold;
    font-size: 1.25rem;
    padding-left: 0.5rem;
}

/** Rejestracja **/

.register .register-subheader {
    font-size: 18px;
}

.register .register-header {
    font-size: 48px;
    font-weight: 700;
}

.register .register-text {
    font-size: 16px;
}

/** Artykuły **/
.articles .articles-header {
    font-weight: 600;
    font-size: 36px;
}

.articles .articles-text {
    font-size: 16px;
}

.articles-section {
    margin-top: 150px;
    margin-bottom: 100px;
}

.articles-section .card-img-top {
    max-height: 245px;
}

.articles-section .articles-header {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
}

.articles-section .articles-header:hover {
    color: #2980c8;
}
