/** Top **/

.top {
    padding: 100px 0px 100px;
}
.top-header {
    color: #db890f;
    font-size: 64px;
}

.btn-search:hover {
    background-color: #004696;
}

/** Oferty pracy **/
.job {
    padding-top: 7rem;
}

.job .nav .nav-item .active {
    background-color: #004696;
}

.hear-icon {
    font-size: 15px;
    color: #777777;
}

.job-search-button {
    background-color: #004696;
}

.job-search-button:hover {
    background-color: #003878;
}

.text-icon {
    font-weight: bold;
    font-size: 1.25rem;
    padding-left: 0.5rem;
}
