.image-header-blue {
    font-size: 64px;
    color: #2980b9;
}

.image-header-white {
    font-size: 64px;
    color: white;
}

.image-p {
    font-size: 16px;
}

.round {
    height: 30rem;
}

.margin {
    padding-left: 8px;
}

.nav-text {
    font-size: 12px;
}
