.main-image-header-blue {
    font-size: 64px;
    color: #007bff;
    text-transform: uppercase;
}

.main-image-header-white {
    font-size: 64px;
    color: white;
    text-transform: uppercase;
}

.image-p {
    font-size: 16px;
}

.round {
    height: 20rem;
}

.margin {
    padding-left: 8px;
}

.nav-text {
    font-size: 12px;
}

.image-container img {
    max-width: 10rem;
    max-height: 10rem;
    min-width: 10rem;
    min-height: 10rem;
}
