/** Top **/

.top {
    padding: 100px 0px 100px;
}

.btn-search:hover {
    background-color: #004696;
}

.title-hover {
    font-weight: bold;
}

.title-hover:hover {
    color: #0d6efd;
}

/** Artykuły **/
.articles .articles-header {
    font-size: 36px;
}

.articles .articles-text {
    font-size: 13px;
}

.top-header {
    color: #db890f;
    font-size: 64px;
}
