/** Top **/

.top {
    padding: 100px 0 100px;
}
.top-header {
    color: #db890f;
    font-size: 64px;
}

.btn-search:hover {
    background-color: #004696;
}

.title-hover {
    font-weight: bold;
}

.title-hover:hover {
    color: #0d6efd;
}
